<h2><strong>Restablecimiento de contraseña</strong></h2>

<p>
  Para restablecer su contraseña, haga clic en el siguiente enlace:
</p>
<p>
  <a href='{{resetLink}}'>Restablecer contraseña</a>
</p>
<p>
  Si no solicitó este cambio, puede ignorar este correo electrónico.
</p>
<p>
  Este enlace es válido por 5 minutos. Después de este tiempo, deberá solicitar
  un nuevo restablecimiento de contraseña.
</p>
<p>
  Si tiene alguna pregunta o necesita ayuda, no dude en ponerse en contacto con
  nuestro equipo de soporte.
</p>