<h2><strong>Guía de entrenamiento pendiente</strong></h2>

<p>Hola,</p>
<p>La guía de entrenamiento de
  <strong>{{employee.name}}</strong>
  está pendiente de su revisión y aprobación.</p>

<p>Por favor, acceda al siguiente enlace para revisar y aprobar la guía de
  entrenamiento:</p>
<p><a href='{{link}}'>Revisar Guía de Entrenamiento</a></p>

<p>Gracias por su atención a este asunto.</p>